---
import chunks from "./../lib/chunks.js";

const { packages } = Astro.props;
---

{
	[...chunks(packages, 2)].map((packageRow) => (
		<>
			<tr>
				{packageRow
					.filter((_package: any) => _package.key.match(/npm:/))
					.map((_package: any) => (
						<>
							<td valign="top">
								<br />
								<a
									href={`${_package.githubUrl}/actions/workflows/node.yml`}>
									<img
										src={`https://img.shields.io/github/workflow/status/${_package.githubOwnerRepo}/Node?label=Build&logo=node.js&color=black&logoColor=white&labelColor=black&logoWidth=15`}
									/>
								</a>
								<br />
								<a href={`https://npmjs.org/${_package.name}`}>
									<img
										src={`https://img.shields.io/npm/v/${_package.name}?label=version&logo=npm&color=black&logoColor=white&labelColor=black&logoWidth=15`}
									/>
								</a>
								<br />
								<a href={`https://npmjs.org/${_package.name}`}>
									<img
										src={`https://img.shields.io/librariesio/release/npm/${_package.name}?label=dependencies&logo=dependabot&color=black&logoColor=white&labelColor=black&logoWidth=15`}
									/>
								</a>
								<br />
								<a href={`https://npmjs.org/${_package.name}`}>
									<img
										src={`https://img.shields.io/npm/dw/${_package.name}?label=downloads&logo=npm&color=black&logoColor=white&labelColor=black&logoWidth=15`}
									/>
								</a>
								<br />
								<br />
							</td>
							<td valign="top">
								<br />
								<a href={_package.githubUrl}>
									<img
										src={`https://img.shields.io/github/stars/${_package.githubOwnerRepo}?label=stars&logo=github&color=black&logoColor=white&labelColor=black&logoWidth=15`}
									/>
								</a>
								<br />
								<b>
									<a
										href={`https://npmjs.org/${_package.name}`}>
										{_package.name}
									</a>
									<br />

									<p
										set:html={_package.description
											?.split(".")
											?.join(".<br />")}
									/>
								</b>
							</td>
						</>
					))}
			</tr>
		</>
	))
}
